{% extends 'base.html'%}

{% block content %}
<h1 class="mt-5">Minha agenda</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
            {% for item in contatos %}
            <tr>
              <td>
                <a href="#">{{ item.nome }}</a>
              </td>
              <td>{{ item.sobrenome }}</td>
              <td>{{ item.telefone }}</td>
              <td>{{ item.categoria }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}        